

<input type="radio" id="alert"><label for="alert">警告1</label>
<input type="radio" id="confirm"><label for="confirm">警告2</label>
<div class="text">
	<h1>h1 > タイトル</h1>
	<p>p > 本文</p>
	<h2>仕掛け</h2>
	<p>radioのcheckedセレクタは使い捨てなので意思確認として使えるのではないかという試み。</p>
	<p>CSSのみで実装。CSS3神。</p>
	<ol>
		<li>input[type=radio]は必要ならopacityで隠しておく</li>
		<li>警告1 [type=radio] が:checkedになると警告2[type=radio]が出現</li>
		<li>警告2 [type=radio] が:checkedになるとタイトル＋本文が出現</li>
	</ol>
	<p>ユーザや投稿者を管理していないサイトでわずかばかりの抵抗</p>
</div>

<ul>
	<li><a href="#/main">main</a></li>
</ul>